@import url('https://fonts.cdnfonts.com/css/varino');


body{
    background-color: #B2A4FF;
}
#principal{
    font-size: 3em;
    font-family: 'varino', sans-serif;
    text-align: center;
    color:rgb(0, 0, 0);
    font-style: normal;
    font-weight: 1;
}

#Bor>p{
    color:blue;
    content:'Teste';
    display:none;
}
#Bor:hover>p{
    display:block;
}
#Pad>p{
    color:blue;
    content:'Teste';
    display:none;
}
#Pad:hover>p{
    display:block;
}
#Mar>p{
    color:blue;
    content:'Teste';
    display:none;
}
#Mar:hover>p{
    display:block;
}
#Out>p{
    color:blue;
    content:'Teste';
    display:none;
}
#Out:hover>p{
    display:block;
}

ul{
    margin:0px 0px 0px 5px;
}

a{
    margin-top:2px;
    display:block;
    color:black;
}